header {
  &.wdrlscw-header {
    img.logo {
      height: $size-100;
      width: auto;
    }

    * {
      text-transform: uppercase;
    }

    a,
    button {
      &.wdrlscw-button {
        color: var(--color-secondary-dark);
        font-weight: 600;
      }
    }
  }
}
